@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



body {

    margin: 0px;

    background-color: rgb(231, 229, 229);
    color: rgb(0, 0, 0);
}

header {

    background-color: rgb(255 255 255);

    height: 150px;

    display: flex;

    top:0;

    align-items: center;

    z-index: 2;

    position: fixed;

    width: 100%;

    box-shadow: 1px 1px 13px #00000079;
}

.главDiv1 {

    display: flex;

    justify-content: space-evenly;

    gap: 11%;

    align-items: center;

    width: 100%;
}



.лого {

    height: 120px;

    width: 120px;
}

.Название {
    font-size: 77px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    margin-bottom: 0;
}

.but1 {

    background: rgb(0, 0, 0);
    border: 0px solid black;
    color: white;
    transition: 0.3s;
    padding: 5px 25px;
    padding-top: 3px;
    width: 177px;
    border-radius: 25px;
    font-size: 30px;

}




.but1:hover {

    background: rgb(0, 0, 0);

    color: white;
}

.but1:active {

    transform: scale(0.8);
    transition: 100ms;

}


.but2 {

    height: 45px;
}

.общФлекс {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    align-items: center
}

.ФлексBut {

    display: flex;

    gap: 45px;

    align-items: center
}

.конт1 {

    display: flex;
    gap: 30px;
    align-items: center
}


.конт2 {

    display: flex;
    gap: 30px;
    align-items: center
}

.Настройки {

    height: 55px;

}

.butCart {

    background-color: rgb(117 133 124 / 0%);

    border: 0px solid black;

    font-family: 'Indie Flower', cursive;
}


.butCart:active {

    transform: scale(0.8);
    transition: 100ms;

}

.blini{
    height: 400px;
    width: 650px;
}
.potata{
    height: 400px;
    width: 650px;
}

.recieppotato{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%
}

.reciepblini{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%
}

.Pereiti{
    height: 75px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    background: rgb(212, 210, 196);
    border: 0px solid black;
    font-size: 35px;
    border-radius: 25px;
    padding-top: 1px;
    margin-top: 50px;
    margin-right: 250px;
    box-shadow: 0px 0px 8px 1px #0000006e;
    
}


main{
    background-color: rgb(231, 229, 229);
    margin-top: 10%;
}

.Pereiti:active{
    transform: scale(0.8);
    transition: 100ms;
}

.Pereiti:hover{
    color: rgb(0, 0, 0);
    background: rgb(226, 226, 226);
}

.cartinka{
    border-radius: 75px;
}